desa: user@desajbossserverip:/Appweb/jboss-x/server/VRSDesa/deploy/pipelinedemo-frontend.war|user@desajbossserverip:/Appweb/jboss-x/server/VRSDesa/deploy/pipelinedemo-backend.war|
prod: 
test: user@testjbossserverip:/Appweb/jboss-x/server/VRSTest/deploy/pipelinedemo-frontend.war|user@testjbossserverip:/Appweb/jboss-x/server/VRSTest1/deploy/pipelinedemo-backend.war|
maven: Maven-3.5.2
mailTest: 
includedRegions: 
toDeploy: war
mapeo: pipelinedemo-frontend:pipelinedemo-frontend.war|pipelinedemo-backend:pipelinedemo-backend.war|
svnUrl: http://svnrepo/VersionesJenkins20/
rootPOM: pom.xml
svnIncludes: trunk, branches/*
mvnTest: 
jdk: Java 1.8.x
transferset: 
branchAC: trunk
jobUrl: none
OldJob: VersionesJenkins20
Job: VersionesJenkins20
mailLeader: mdaventini@gmail.com
NewJob: 
mailDesa: 
prepro: 